<div class="row">
    <div class="col-lg-9 col-md-6 col-sm-12"> 
        <h1 class="text-center m-4 p-3">Account Statement</h1>
        <div class="text-end">
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-primary">All</button>
                <button type="button" class="btn btn-primary">Debit</button>
                <button type="button" class="btn btn-primary">Credit</button>
            </div>
        </div>
        <table class="table m-5">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Type</th>
                <th scope="col">Amount</th>
                <th scope="col">Date</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
        </table>
        <button class="btn btn-primary m-4" type="button">Export As <i class="fa-solid fa-file-export"></i></button>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 text-center">
        <img src="https://i.postimg.cc/6p9yfpB3/moneytransfer.jpg" alt="pic" style="width: 300px; height: auto;">      
        <button class="btn bg-secondary text-white back">back to <i class="fa-solid fa-house"></i></button>  
    </div>
</div>
