<div class="row p-5">
    <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="container w-50 p-3 mt-5 border bg-light box" id="d">
            <h1 style="color: blue;">Sign up</h1>
            <input id="acnum" name="ac" type="text" class=" form-control mt-2" placeholder="Account Number">
            <input id="na" name="name" type="text" class=" form-control mt-2" placeholder="Name">
            <input id="pass" name="password" type="password" class=" form-control mt-2" placeholder="password">
            <input id="cpass" name="confirm" type="password" class=" form-control mt-2" placeholder=" confirm password">
            <p id="incorrect"></p>
            <div class="text-end">
                <button onclick="signup()" type="submit" class="btn btn-primary mt-2">sign up</button>
            </div>   
         </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
        <img src="https://i.postimg.cc/wvsYp2XS/OIP-1.jpg" alt="bank" id="d">
    </div>
    </div>