.mod{
    background-color: rgb(70, 61, 135);
    color: white;
    height: 80px;
    font-weight: bold;
}
i{
    color: orange;
}
button:hover{
    background-color: rgb(121, 121, 166);
}
img{
    margin-left: auto; 
    margin-right: auto; 
    display: block;
    margin-bottom: 10px;
}
.s1{
    color: red;
}
.s2{
    color: green;
}